@tailwind base;
@tailwind components;
@tailwind utilities;


body {
  margin: 0;
  /* display: flex; */
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
  background-image: url(../../redux/public/page-bg-1.jpg);
  background-size: cover;
  background-position: 50%;
}

